{% extends "posts_base/base.html" %}

{% load static %}

{% block header %}
<header class="">
  <div class="">
    <a href="{% url 'index' %}">
      <img class="logo" src="{% static '' %}" alt="Logo">
      홈으로
    </a>
    <nav>
      <ul class="">
        {% if user.is_authenticated %}
          {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">관리자</a></li>
          {% endif %}
          <li><a href="{% url 'profile' user.id %}">내 프로필</a></li>
          <li><a href="{% url 'account_logout' %}">로그아웃</a></li>
        {% else %}
          <li><a href="{% url 'account_login' %}">로그인</a></li>
          <li><a href="{% url 'account_signup' %}">회원가입</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
{% endblock header %}

{% block footer %}
<footer class="">
  <div class="">
    <div></div>
    <div>Yonsei</div>
  </div>
</footer>
{% endblock footer %}
